@model IEnumerable<car_park.WEB.Models.CarVM>
@using GridMvc.Html

@{
    ViewBag.Title = "Car List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car List</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p><div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Cars</h4>
    </div>
    <div class="panel-body">
        @Html.Grid(Model).Columns(col =>
   {
       col.Add(x => x.Name).Titled("Name").Filterable(true).Sortable(true);
       col.Add(x => x.Year).Titled("Year").Filterable(true).Sortable(true);
       col.Add(x => x.RegistrationDate).Titled("RegistrationDate").Format("{0:dd/MM/yyyy}").Titled("RegistrationDate").Filterable(true).Sortable(true);
       col.Add().Sanitized(false).Encoded(false).RenderValueAs(x => Menu(x));
   }).WithPaging(5)
    </div>
</div>


@helper Menu(car_park.WEB.Models.CarVM vm)
{
    <a href="@Url.Action("Edit", "Car", new { ID = vm.ID })">Edit</a>
}
