@{
    ViewBag.Title = "Car Park / Home Page";
}

<div class="jumbotron">
    <h1>Car-Park Project Sample</h1>
    <p><a href="https://github.com/sourvil/car-park" class="btn btn-primary btn-lg" target="_blank">GitHub / Sourvil</a></p>
</div>
